@mixin patterned-bg {
  background-color: $c-mine-shaft;
  background-image: url("../img/bg.png");
  background-repeat: repeat;
}

@mixin full-flex($dir: column) {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: $dir;
}

@mixin large-heading() {
  @include font-size(60px);
  @include transition(opacity transform, 3s, $ease-out-quint);
  transform: translate3d(0, 0.25rem, 0);
  opacity: 0;
  font-family: $f-handwriting;
  text-shadow: $text-shadow;
  text-align: center;

  .transitions-active & {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

