.banner {
  @include full-flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.banner__img {
  filter: $image-filter;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  max-width: none;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.banner__img--blurry-hide {
  @include transition(opacity, 0s, $ease-in-out-cubic, 3s);
  opacity: 0;
}

.banner__img--primary {
  @include transition(opacity, 2s, $ease-out-cubic);
  opacity: 0;
}

.banner__img--primary-fade-in {
  opacity: 1;
}

.banner__img--fade-out {
  @include transition(opacity, 0.5s, $ease-in-out-cubic);
  opacity: 0;

  .transitions-active & {
    opacity: 1;
  }
}

.banner__heading {
  position: relative;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  color: darken($c-white, 10%);
}

.banner__large-text {
  @include font-size(60px);
  @include transition(opacity transform, 0.75s, $ease-in-cubic);
  transform: translate3d(1rem, 0, 0);
  opacity: 0;
  font-family: $f-handwriting;
  text-shadow: $text-shadow;
  text-align: center;
  font-size: 10vmin;

  .transitions-active & {
    transition-timing-function: $ease-out-cubic;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.banner__small-text {
  @include font-size(20px);
  @include transition(opacity transform, 1s, $ease-in-cubic, 0.1s);
  transform: translate3d(-1rem, 0, 0);
  opacity: 0;
  text-align: center;
  letter-spacing: 1px;
  font-family: $f-handwriting;
  text-shadow: $text-shadow;

  .transitions-active & {
    transition-timing-function: $ease-out-cubic;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.banner__social-icon {
  @include transition(background-color opacity, 0.15s, ease-in-out);
  z-index: $z-banner__social-icon;
  width: calc(30px + 0.75rem);
  height: calc(30px + 0.75rem);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1rem;
  left: 1rem;
  background-color: rgba($c-white, 0.2);
  border-radius: 10px;
  border-bottom-right-radius: 30px;
  opacity: 0;

  &:hover {
    background-color: rgba($c-white, 0.45);

    .banner__social-icon-svg {
      @include transition(opacity, 0.15s, ease-in-out);
      opacity: 1;
    }
  }
}

.banner__social-icon.active {
  .transitions-active & {
    opacity: 1;
  }
}

.banner__social-icon-svg {
  display: block;
  width: 30px;
  height: 25px;
  transform: rotate(5deg);
  opacity: 0.7;
}

.banner__back {
  @include transition(opacity, 0.5s, ease-in-out, 0.5s);
  @include blurry-bg($c-white, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  z-index: $z-banner__back;
  opacity: 0;
  display: none;

  @include bp(sm) {
    display: flex;
  }

  &:hover {
    opacity: 1;
  }
}

.banner__back.active {
  .transitions-active & {
    opacity: 0.75;
  }
}

.banner__back__svg {
  fill: $c-white;
  width: 15px;
  height: 100%;
}
