.banner {
  @include full-flex;
  padding-top: $gutter;
  padding-right: $gutter;
  padding-bottom: $gutter;
  padding-left: $gutter;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.banner__img {
  // filter: grayscale() ;
  // filter: blur(1px);
  filter: sepia(30%) brightness(0.8);
  @include transition(transform, 2.4s, $ease-out-quad);
  width: calc(100% + 4rem);
  position: absolute;
  top: 0;
  left: 0;
  max-width: none;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: translate3d(-4rem, 0, 0);

  .app--mounted & {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    opacity: 0.5;
  }
}

.banner__heading {
  position: relative;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  mix-blend-mode: darken;
  color: darken($c-white, 5%);
}

.banner__large-text {
  @include font-size(60px);
  @include transition(opacity transform, 2s, $ease-out-quad, 0.333s);
  transform: translate3d(2.5rem, 0, 0);
  opacity: 0;
  font-weight: 300;
  font-family: $f-handwriting;
  text-shadow: $text-shadow;

  .app--mounted & {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.banner__small-text {
  @include font-size(20px);
  @include transition(opacity transform, 1.666s, $ease-out-quad, 0.666s);
  transform: translate3d(-2.5rem, 0, 0);
  opacity: 0;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: $text-shadow;

  .app--mounted & {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
