.categories {
  @include image-grid;
}

.categories__item {
@include image-grid-item;
}

.categories__item--span-2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.categories__item--span-3 {
  grid-column-end: span 3;
  grid-row-end: span 4;
}

.categories__img {
  object-fit: cover;
  width: 100%;
}

.categories__heading {
  background-color: rgba($c-white, 0.5);
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  border-radius: 3px;

  &::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: 0;
    width: 100%;
    height: 1rem;
    // background: linear-gradient(to bottom, rgba($c-mine-shaft, 0) 0%, rgba($c-mine-shaft, 0.75) 100%);
  }
}

.categories__text {
  @include font-size(14px, 14px);
  padding-top: 0.25em;
  padding-right: 0.5em;
  padding-bottom: 0.45em;
  padding-left: 0.5em;
  display: inline-block;
  color: $c-mine-shaft;
}
