@font-face {
  font-display: swap;
  font-family: 'FreightBigProMedium';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/subset-FreightBigProMedium-Regular.woff2') format('woff2'),
    url('../fonts/subset-FreightBigProMedium-Regular.woff') format('woff');
}

@font-face {
  font-family: 'latoregular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/subset-lato-regular.woff2') format('woff2'), url('../fonts/subset-lato-regular.woff') format('woff');
}
