@font-face {
  font-family: 'FreightBigProMedium';
  src: url('../fonts/subset-FreightBigProMedium-Regular.woff2') format('woff2'),
      url('../fonts/subset-FreightBigProMedium-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

