html {
  font-size: 16px;
  position: relative;
  height: 100%;

  @include bp(xs) {
    font-size: 18px;
  }

  @include bp(sm) {
    font-size: 20px;
  }

  @include bp(md) {
    font-size: 23px;
  }

  @include bp(lg) {
    font-size: 27px;
  }
}

body {
  @include patterned-bg;
  background-color: $c-mine-shaft;
  @include font-size(16px);
  font-family: $f-primary;
  font-weight: 400;
  min-width: 320px;
  position: relative;
  height: 100%;
  color: $c-white;
}

// *:focus {
//   outline: 1px rgba($c-white, 0.3) dotted !important;
// }
