html {
  font-size: 16px;
  height: 100%;
  position: relative;

  @include bp(xs) {
    font-size: 18px;
  }

  @include bp(sm) {
    font-size: 20px;
  }

  @include bp(md) {
    font-size: 23px;
  }

  @include bp(lg) {
    font-size: 27px;
  }
}

body {
  @include patterned-bg;
  @include font-size(16px);
  background-color: $c-mine-shaft;
  color: $c-white;
  font-family: $f-primary;
  font-weight: 400;
  height: 100%;
  min-width: 320px;
  position: relative;
}

*:focus {
  outline: none; // Sorry
}

// For IE
// scrollbar-track-color: green;
// scrollbar-face-color: white
::-webkit-scrollbar {
  border-radius: 4px;
  width: 10px;
  // height: 10px;
  // padding: 2px;
}

::-webkit-scrollbar-thumb {
  background: lighten($c-mine-shaft, 5%);
  border: 1.5px solid darken($c-mine-shaft, 5%);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: darken($c-mine-shaft, 5%);
  padding: 10px;
}
