@import "utils/vars";
@import "utils/layout-mixins";
@import "utils/project-mixins";
@import "utils/mixins";
@import "utils/reset";

@import "global/fonts";
@import "global/main";
@import "global/grid";
@import "components/**/*";

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
